body {
  font-family: "Helvetica Neue";
}

.heading {
  background-color: rgb(104, 184, 184);
  font-size: 30px;
  padding: 10px;
  text-align: center;
  color: bisque;
  font-weight: bold;
}
.grid-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.cakes-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 50px;
}

.cake-item {
  padding: 20px;
}
.cake-text {
  text-align: center;
}
#addToCart {
  background-color: salmon;
  outline: none;
  border: 1px solid pink;
  padding: 10px;
  border-radius: 10px;
  color: maroon;
  font-weight: bold;
}

.cart-container {
  background-color: salmon;
  height: 99vh;
  position: fixed;
  right: 0;
  width: 300px;
  padding: 10px;
  overflow-y: scroll;
}

.totalPrice {
  border-top: 1px solid maroon;
  color: maroon;
  font-weight: bold;
}
